@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Lemonada&family=Raleway+Dots&family=Roboto:ital,wght@1,300&family=Satisfy&display=swap');

.main {
  background-image: url(../assets/fondo.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    display: grid;
    align-content: center;
    height: 100vh;
    .content {
      text-align: center;
      color: var(--light);
      .title {
        margin: 0;
        // font-family: 'Lemonada';
      }
      .sub-title {
        font-size: 1.5rem;
        font-family: 'Satisfy', cursive;
      }
    }
  }
}
.container {
  display: grid;
  align-content: center;
}

/* Services */
.services {
  text-align: center;
  margin-top: 3rem;
  h2 {
    padding-bottom: .5rem;
    &:after {
      height: .3rem;
      width: 7rem;
      background-color: var(--primary);
      content: '';
      display: block;
      margin: 1rem auto 0 auto;
    }
  }
  fa-icon {
    font-size: 2.3rem;
    color: var(--secondary);
  }
}
@media (min-width: 768px) {
  .services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 2rem;
  }
}

/* News */
.element {
  border-bottom: 1px solid var(--dark);
  margin-bottom: 3rem;
}
.element:last-of-type {
  border: none;
}

@media (min-width: 768px) {
  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    grid-auto-rows: max-content;
  }
  .element {
    border: none;
  }
  .element:nth-child(3) {
    grid-row-end: span 2;
  }
}

/* Footer */
.footer {
  background-image: url(../assets/contacto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--light);
  padding: 2rem 0;
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .footer{
    .container {
      display: grid;
      grid-template-columns: repeat(2, 30%) auto;
    }
  }
}